body{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
/* style for the first quarter */
.first {
    background-color: #1F2937;
}

li , a , .smalltext {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 4px 2px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    gap: 16px;
    padding: 0 8px;
}

.bigtext {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.container {
    justify-content: space-evenly ;
    margin: 36px;
}

.item {
    padding: 16px;
    margin: 16px;
    width: 350px;
    gap: 10px;
    align-items: flex-start;
}

.image {
    font-family : 'roboto' , 'times' , 'serif';
    background-color: #e5e7eb9b ;
    width: 400px;
    height: 250px;
    justify-content: center;
    border-radius: 12px;
    color: #E5E7EB ;
}

button {
    background-color: #3882e6 ;
    border-radius: 10px;
    color: #f9faf8 ;
    padding: 8px 16px;
}
/*refactoring*/
.first,.item{
    display: flex;
    flex-direction: column;
}

ul,.links,.image,.container{
    display: flex;
    align-items: center;
}
/* style for the second quarter */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.info {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.content {
    display: flex;
    justify-content: center;
    gap: 26px;
    padding: 16px;
}

.card {
    height: 130px;
    border: 2px solid #3882e6 ;
    border-radius: 10px;
}

.text {
    color: grey;
    text-align: center;
}

.card , .text{
    width: 130px;
}

/* the style for the third quarter */

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 200px;
}

blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

p.quote {
    margin-top: 0;
    font-weight: bolder;
    margin-left: auto;
}

/* the style for the fourth quarter */
.fourth,.subscribe {
    display: flex;
    align-items: center;
}
.fourth {
    padding: 32px;
    justify-content: center;
}

.subscribe {
    background-color: #3882e6;
    width: 70%;
    justify-content: space-around;
    padding: 16px;
    border-radius: 10px;
}

.form {
    padding: 16px;
    color: #f9faf8 ;
}
span {
    display: block;
    color: #E5E7EB;
}

div.subscribe > button {
    border: 1px solid white;
}

/* the style for the footer*/
footer {
    background-color: #1F2937 ;
    color: #f9faf8; 
    padding: 16px;
    text-align: center;
}